# =============================================
# СКУФИЯ — Конфигурация деплоя (.env)
# Переименуй этот файл в .env и заполни значения
# НЕ КОММИТЬ .env в Git!
# =============================================

# --- GitHub Container Registry ---
# Получить здесь: https://github.com/settings/tokens/new
# Галочка: write:packages
GHCR_TOKEN=ghp_ВАШ_ТОКЕН_СЮДА
GHCR_USER=up1t3

# --- Сервер Timeweb ---
SERVER_IP=147.45.245.133
SERVER_USER=root
SERVER_PASSWORD=y38N*dQM.X33k?

# --- База данных ---
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_DB=skufia

# --- Redis ---
REDIS_URL=redis://redis:6379/0
CELERY_BROKER_URL=redis://redis:6379/0

# --- Coturn (WebRTC) ---
TURN_SECRET=skufia_secret
TURN_REALM=skuf-net.ru
