fastapi
uvicorn[standard]
sqlalchemy
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
python-multipart
websockets
cachetools
prometheus-client
blurhash
Pillow
celery
redis>=4.2.0
requests
numpy
aioboto3
psycopg2-binary
broadcaster
aioredis
pywebpush
